################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoravelMonitoring/bin/Debug/net8.0
/CoravelMonitoring/obj
